:host {
  font-family: "Lexend Exa", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 2rem;


  .classes {
    border-radius: 5px;
    border: 1px solid #cacaca;
    padding: 10px;
  }
}

